body {
    color: green;
}

p {
    font-size: 20px;
}

.serifFont {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
 
.sansSerifFont {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

.monospaceFont {
    font-family: 'Courier New', Courier, monospace;
    font-variant-caps: small-caps;
}

h3 {
    font-size: 5vw;
    text-align: center;
    color: rgb(38, 255, 0);
}